/**editor begin**/
.part.editor{
    top: 30px;
    right: 0px;
    left: 220px;
    bottom: 210px;
    position: absolute;
  }
  
  .part.editor .editor-container{
    top: 57px;
    right: 0px;
    left:0px;
    bottom: 0px;
    position: absolute;
  }
  
  .part.editor .tabs{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: rgb(37, 37, 38)
  }
  
  .part.editor .tabs .file-tabs{
    height: 35px;
    line-height: 35px;
    width: calc(100% - 100px);
    display: flex;
    overflow: hidden;
  }
  
  .part.editor .tabs .file-tabs .tab{
    width: 120px;
    background-color: rgb(45, 45, 45);
    border-right: 1px solid rgb(37, 37, 38);
    min-width: fit-content;
    padding: 0 10px;
  }
  
  .part.editor .tabs .file-tabs .tab .icon-close{
    float: right;
  }
  
  
  .part.editor .tabs .file-tabs .tab.selected{
    background-color: rgb(30, 30, 30);
    color: #fff;
  }
  
  .part.editor .tabs .file-actions{
    height: 35px;
    width: 100px;
    display: flex;
  }
  
  .part.editor .tabs .breadcrumbs{
    height: 22px;
    display: flex;
    width: 100%;
    background-color: #1e1e1e;
    padding: 0 10px;
  }
  
  .part.editor .tabs .breadcrumbs .icon-right{
    margin: 0 1px;
  }
  /**editor end**/